<!-- <div class="alert-bg" id="alert">
        <div class="alert-box shadow">
            <h5 class="red">Delete link</h5>
            <small class="lead">Are you sure you wanna do this?</small>
            <div class="choice">
                <button type="button" class="btn btn-primary btn-sm m-1 my_btn bgc-green" onclick="abort()">No</button>
                <form action="{{ url_for('delete_url', url_id=url.id) }}" method="POST">
                    <input type="submit" class="btn btn-sm m-1 danger_btn2" value="Delete">
                </form>
            </div>
        </div>
      </div> -->